#save to .env
HAPROXY_LAN_IP=Trusted_proxy_IP
NC_DOMAIN=next.example.com
NC_ADMIN_USER=ncadmin
NC_ADMIN_PASSWORD=change_ncadmin_strong_password
DB_NAME=nextclouddb
DB_USER=nextclouddb
DB_PASSWORD=change_strong_password
DB_ROOT_PASSWORD=change_strong_password
REDIS_PASSWORD=change_strong_password
#SMTP_HOST=smtp.yourdomain.com
#SMTP_PORT=587
#SMTP_SECURE=tls
#SMTP_USER=nextcloud@yourdomain.com
#SMTP_PASSWORD=your_smtp_password
#MAIL_FROM=nextcloud
