# cat .env  change password 
TAG=17.5.0-slim-bim
OPENPROJECT_HTTPS=true
OPENPROJECT_HSTS=false
SECRET_KEY_BASE=Change_to_strongpassword
OPENPROJECT_HOST__NAME=openproject.example.com
OPENPROJECT_RAILS__RELATIVE__URL__ROOT=
OPENPROJECT_RAILS__TRUSTED__PROXIES=change_to_trusted_IP
DATABASE_URL=postgres://postgres:Change_DB_password_here@db/openproject?pool=20&encoding=unicode&reconnect=true
POSTGRES_PASSWORD=Change_DB_password_here
RAILS_MIN_THREADS=4
RAILS_MAX_THREADS=16
PGDATA=/docker/openproject/postgresql
OPDATA=/docker/openproject/assets
COLLABORATIVE_SERVER_URL=wss://openproject.example.com/hocuspocus
COLLABORATIVE_SERVER_SECRET=change_to_strong_password
POSTGRES_VERSION=17
IMAP_ENABLED=false
